@import '~@angular/material/theming';
@import 'vars';

:host {
  .login-button,
  .logout-button {
    color: $white;
    background: mat-color($app-primary, 900);
  }
  .logout-button {
    position: fixed;
    right: 0;
    top: 15px;
    z-index: 2;
  }
  .ngx-root {
    &__login {
      margin: 50% auto;
      max-width: 200px;
    }
  }
}
